<div class="container">
    <app-navbar></app-navbar>
    <div class="col mt-5">
        <div class="col position-relative">
            <h3>Listado de Clientes
                <button type="button" class="btn btn-primary btn-sm position-absolute end-0">Nuevo Cliente</button>
            </h3>
        </div>

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Docuemnto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>78747369</th>
                    <td>Oscar Negrete</td>
                    <td>Calle 23C Bis</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" tooltip="Editar Cliente">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>