<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/syac.jpg" alt="" width="50" height="25" class="d-inline-block align-text-top">
            Sistema de Pedidos
          </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/clientes" routerLinkActive="active">Clientes</a>
          </li>              
        </ul>
      </div>
    </div>
  </nav>
