<div class="container">
    <app-navbar></app-navbar>
      <div class="col mt-5">          
          <div class="col position-relative">
            <h3 >Listado de Pedidos 
                <button routerLink="/pedido/nuevo" class="btn btn-primary btn-sm position-absolute end-0"><fa-icon [icon]="faPlus"></fa-icon> Nuevo Pedido</button>
              </h3>
          </div>
          
          <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Id Pedido</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha Registro</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pedidos">
                <th>{{item.idPedido}}</th>
                <td>{{item.nombreCliente}}</td>
                <td>{{item.fechaRegistro}}</td>
                <td>{{item.estado}}</td>
                <td>
                    <button [routerLink]="['/pedido','P0001']" class="btn btn-primary btn-sm" tooltip="Editar Pedido"><fa-icon [icon]="faEdit"></fa-icon></button>
                </td>
              </tr>
              <tr>
                <th>P001</th>
                <td>Oscar Negrete</td>
                <td>2021-03-30</td>
                <td>Registrado</td>
                <td>
                    <button [routerLink]="['/pedido','P0001']" class="btn btn-primary btn-sm" tooltip="Editar Pedido"><fa-icon [icon]="faEdit"></fa-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>

