<div class="container">
    <app-navbar></app-navbar>
    <div class="col mt-5">
        <div class="col position-relative">
            <h3>Realizar Pedido </h3>
        </div>

        <form [formGroup]="forma" (ngSubmit)="guardar()">

            <div class="row mt-3">
                <div class="col-auto">
                    <label>Pedido No: </label>
                </div>
                <div class="col-auto">
                    <input type="text" formControlName="idPedido" disabled="disabled"
                        class="form-control form-control-sm">
                </div>
                <div class="col-auto">
                    <label>Cliente: </label>
                </div>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="text" placeholder="Documento del Cliente" formControlName="idCliente"
                            class="form-control form-control-sm" [class.is-invalid]="clienteNoValido">
                        <button type="button" class="btn btn-primary btn-sm input-group-text">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </button>
                    </div>
                    <small *ngIf="clienteNoValido" class="text-danger">Ingrese el documento del cliente</small>
                </div>
                <div class="col-auto">
                    <input type="text" placeholder="Nombre del Cliente" formControlName="nombreCliente"
                        disabled="disabled" class="form-control form-control-sm">
                </div>
                <div class="col-auto">
                    <label>Fecha: </label>
                </div>
                <div class="col-auto">
                    <input type="text" placeholder="Fecha" formControlName="fechaRegistro"
                        class="form-control form-control-sm" disabled="disabled">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <label>Dirección de Entrega: </label>
                </div>
                <div class="col-auto">
                    <input type="text" formControlName="direccionEntrega" placeholder="Dirección de Entrega"
                        [class.is-invalid]="direccionNoValida" class="form-control form-control-sm">
                    <small *ngIf="direccionNoValida" class="text-danger">Ingrese el documento del cliente</small>
                </div>
                <div class="col-auto">
                    <span *ngIf="pedido.estado === 'Registrado'" class="badge bg-primary">Registrado</span>
                </div>
            </div>

            <div class="col mt-5">
                <div class="col position-relative">
                    <h5>Productos
                        <button type="button" (click)="agregarProducto()"
                            class="btn btn-primary btn-sm position-absolute end-0">
                            <fa-icon [icon]="faPlus"></fa-icon> producto
                        </button>
                    </h5>
                </div>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center" scope="col">Item</th>
                            <th class="text-center" scope="col">Código Producto</th>
                            <th class="text-center" scope="col">Producto</th>
                            <th class="text-center" scope="col">Valor Unitario</th>
                            <th class="text-center" scope="col">Cantidad</th>
                            <th class="text-center" scope="col">Valor Parcial</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="productos">
                        <tr *ngFor="let item of productos.controls; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td><input type="text" class="form-control form-control-sm" [formControlName]="i"></td>
                            <td><input type="text" class="form-control form-control-sm" disabled="disabled"></td>
                            <td><input type="text" class="form-control form-control-sm" disabled="disabled"></td>
                            <td><input type="text" class="form-control form-control-sm"></td>
                            <td><input type="text" class="form-control form-control-sm"></td>
                            <td>
                                <button type="button" (click)="quitarProducto(i)" class="btn btn-danger btn-sm"
                                    tooltip="Quitar Producto">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <label>Valor Total del Pedido: </label>
                </div>
                <div class="col-auto">
                    <input type="text" formControlName="valorTotal" class="form-control form-control-sm"
                        disabled="disabled">
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary w-25">
                        <fa-icon [icon]="faSave"></fa-icon> Guardar Pedido
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>